.btns-wrapper {
  background-color: mediumslateblue;
  text-align: center;
}

.inner-wrapper {
  border-radius: 50%;
  background: #7b69ee;
  box-shadow: 6px 6px 14px #6f5fd6, -6px -6px 14px #8774ff;
}
