.PostPage {
  margin: 20px 0;

  header {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    width: 100%;
  }

  &__date {
    color: #888888;
    font-size: 12px;
  }

  &__actions {
    padding: 0 15px;
    text-align: right;
    font-size: 13px;

    div {
      padding: 5px 0 5px 5px;
    }
  }

  &__user {
    a {
      text-decoration: none;
    }

    &__username {
      color: #000;
      font-size: 18px;
      margin: 6px 10px;
      &:hover {
        color: #f54555;
      }
    }
  }
}
