@import "~bootstrap";

.PostCreate {
  &__title,
  &__subtitle {
    color: #7b69ee;
  }

  &__subtitle {
    @extend .h4;
  }

  &__form__error {
    @extend .text-danger;
    margin-left: 14px;
  }

  &__intro-image {
    max-height: 600px;
    max-width: 90%;
  }

  &__submit-btn,
  &__submit-btn:active,
  &__submit-btn:focus {
    @extend .btn;
    @extend .btn-dark;
    @extend .w-100;
    background: #f1f3f6;
    box-shadow: inset 0.007em 0.007em 0.034em rgba(#fff, 0.3),
      0.0503em 0.0503em 0.135em rgba(#3754aa, 0.1),
      -0.0503em -0.0503em 0.135em #fff;
    border: 0.004em solid rgba(#fff, 0.3);
    color: #7b69ee;
  }

  &__register-link,
  &__register-link:hover {
    color: #7b69ee;
  }
}
.shape {
  position: relative;
  font-size: 150px;
  height: 1em;
  width: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate3d(0, 0, 0);

  border-radius: 0.2em;
  background-color: #f1f3f6;
  box-shadow: inset 0.007em 0.007em 0.034em rgba(#fff, 0.3),
    0.0503em 0.0503em 0.135em rgba(#3754aa, 0.1),
    -0.0503em -0.0503em 0.135em #fff;
  border: 0.004em solid rgba(#fff, 0.3);
  &:before,
  &:after,
  span {
    position: absolute;
    content: "";
    display: block;
    border-radius: 1em;
    background-color: #f1f3f6;
    box-shadow: inset 0.007em 0.007em 0.034em rgba(#fff, 0.3),
      0.034em 0.034em 0.101em rgba(#3754aa, 0.1), -0.034em -0.034em 0.101em #fff;
    border: 0.004em solid rgba(#fff, 0.3);
  }
  &:after {
    height: 0.48em;
    width: 0.48em;
    box-shadow: inset 0.007em 0.007em 0.034em rgba(#fff, 0.3),
      0.034em 0.034em 0.101em rgba(#3754aa, 0.1) inset,
      -0.034em -0.034em 0.101em #fff inset;
  }
  &:before {
    height: 0.7em;
    width: 0.7em;
  }
  span {
    top: 0.1em;
    right: 0.1em;
    height: 0.15em;
    width: 0.15em;
    box-shadow: inset 0.007em 0.007em 0.034em rgba(#fff, 0.3),
      0.026em 0.026em 0.068em rgba(#3754aa, 0.1), -0.026em -0.026em 0.068em #fff;
    border: 0.004em solid rgba(#fff, 0.3);
  }
}
